<seelog>
    <exceptions>
        <exception funcpattern="*main.test*Something*" minlevel="info"/>
        <exception filepattern="*main.go" levels="trace,debug,info,warn,error,critical"/>
    </exceptions>
    <outputs formatid="main">
        <console/>
        <rollingfile formatid="main" type="size" filename="./log/simon.log" maxsize="100" maxrolls="5" />
    </outputs>
    <formats>
        <format id="main" format="时间：%Date/%Time %n【%Level】 %Msg 文件：%FullPath %Line行 %n%n"/>
    </formats>
</seelog>